@import "tailwindcss";

@theme {
  --color-devee-red: #B22222;
  --color-devee-black: #0a0a0a;
}

/* אפקטים של הבוטיק */
@utility glass-module {
  background: rgba(255, 255, 255, 0.03);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

@utility red-glow-ui {
  box-shadow: 0 0 50px -10px rgba(178, 34, 34, 0.3);
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Geist', sans-serif;
  overflow-x: hidden;
}